.card{
    display: flex;
    flex-direction: column;
    background-color: var(--card-background);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.card-img{
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 160px;
}
.no-link{
    text-decoration: none;
    color: var(--text-color);
}

.card-details{
    padding-top: 1.75rem;
    padding-left: 1rem;
    padding-bottom: 2.875rem;

}
.country-name{
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 1.375rem;
}
.specific-detail{
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.6875rem;
}
@media screen and (max-width:676px) {
    .card{
        max-width: 23rem;
        margin: auto;
    }
}