.details-main{
    background-color: var(--background);
    min-height: 100vh;
    max-height: 100%;
    padding-top: 80px;
}
.back-badge{
    background-color: var(--card-background);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    display: flex;
    align-items: center;
    max-width: 8.375rem;
    padding-top: 13px;
    padding-bottom: 12px;
    border-radius: 5px;
    cursor: pointer;
}
.back-badge p{
    color: var(--text-color);
    margin-right: auto;
    margin-left: 12px;
}
.arrow-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    color: var(--text-color);

}
.country-flag{
    display: flex;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.country-details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px;
    gap: 7rem;
    padding-top:5rem;
}
.m-auto{
    margin: auto;
}
.card-title{
    font-size: 2rem;
    font-weight: 900;
    color: var(--text-color);
}
.card-main{
    padding-top: 2.75rem;
    padding-bottom: 2rem;
}
.card-box{
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(2,1fr);
}
.card-ul{
    list-style: none;
}
.card-list{
    color:var(--text-color);
    margin-bottom: 0.875rem;
}
.font-600{
    font-weight: 600;
}

@media screen and (max-width: 992px) {
    .country-details{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 3.25rem;
        max-width: 33rem;
        margin: auto;
    }
}
@media screen and (max-width: 550px) {
    .card-box{
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}