header{
 background-color: var(--card-background);
 padding-top: 1.6rem;
 padding-bottom: 1.6rem;
 box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
 position: sticky;
 top: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
nav > h1{
    font-size: 1.625rem;
    font-weight: 900;
    color: var(--text-color);
}
.theme-switcher{
    display: flex;
    justify-content: space-between;
    align-items: center;
  font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    color: var(--text-color);
   transition: none;
}
.theme-switcher-icon{
   margin-left: 10px;
}